/**
 *
 * Add to any.
 *
 */

.addtoany {
  background-color: $white;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  transition: width .25s;

  &.is-sticky {
    height: 60px;
    padding: 10px;
    position: absolute;
    width: 105px;
    z-index: z($z-index-elements, addtoany);

    .a2a_kit {
      order: 2;
      position: absolute;
      right: 0;
      width: 95px;
    }

    &:hover {
      width: 210px;
    }
  }

  &.is-sticky &--text {
    order: 1;
    overflow: hidden;
    width: 0;
  }

  &.is-sticky:hover &--text {
    width: auto;
  }

  &.is-aligned-top-right {
    right: 0;
    top: -50px;

    @include breakpoint($breakpoint-desk) {
      top: -60px;
    }
  }

  &.is-aligned-right {
    right: 0;
    top: 50%;
  }

  &.is-inline {
    @include layout-spacing();
  }

  &--text {
    font-size: 14px;
    font-weight: 100;
    padding-top: 6px;
  }
}
