/**
 *
 * Content.
 *
 */


&.is-page .content {
  &--inner {
    background-color: rgba(255, 255, 255, 1);
    padding-left: $spacing-lap;
    padding-right: $spacing-lap;
    position: relative;
    z-index: z($z-index-elements, content);

    @include breakpoint($breakpoint-tablet) {
      padding-left: $spacing-tablet;
      padding-right: $spacing-tablet;
    }

    @include breakpoint($breakpoint-desk) {
      padding-left: $spacing-desk;
      padding-right: $spacing-desk;
    }

    @include breakpoint($breakpoint-bigscreen) {
      padding-left: $spacing-bigscreen;
      padding-right: $spacing-bigscreen;
    }
  }
}

.content {
  flex: 1 0 auto;
  min-height: 80%;

  &--inner {
    @include word-wrap;

    margin-bottom: 11em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-height: 20em;

    &.is-front {
      margin-bottom: 0;
      min-height: 30em;
      padding: 2em 0;

      @include word-wrap;

      &:last-child {
        background: $gray-lightest;
      }
    }

    @include breakpoint($breakpoint-desk) {
      max-width: $layout-max-width-desk;
    }
  }

  p + h3,
  p + p {
    margin-top: 2em;
  }

  // Needs nesting inside content for overriding p+p.
  &--inline-link {
    margin-top: 1em;
  }

  &--header,
  &--lead,
  &--meta,
  &--text {
    margin-left: $layout-padding;
    margin-right: $layout-padding;

    @include breakpoint($breakpoint-bigscreen) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  h3,
  h4,
  &--header,
  &--lead {
    font-weight: 600;
  }

  &--header,
  &--meta,
  &--lead {
    text-align: center;
  }

  &--header {
    font-size: 2.5em;
    margin-left: -.075em; /* Compensate for font whitespace */
    margin-right: 0;
    margin-top: .5em;
  }

  &--meta {
    font-weight: 300;
    margin-bottom: 1em;
    margin-top: -.5em;
    padding-bottom: 1em;
  }

  &--image-wrapper {
    margin-bottom: 2.5em;
    position: relative;

    @include breakpoint($breakpoint-desk) {
      height: 500px;
      overflow: hidden;
    }

    @include breakpoint($breakpoint-bigscreen) {
      img {
        margin-top: -225px;
      }
    }

    &:before {
      @extend %image-overlay;
    }
  }

  &--lead {
    font-size: 1.25em;
    margin-bottom: 1em;

    @include breakpoint($breakpoint-tablet) {
      margin-left: 3em;
      margin-right: 3em;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 1.5em;
    }
  }

  &--text + fieldset {
    margin-top: 3em;
  }

  fieldset {
    margin-left: $layout-padding;
    margin-right: $layout-padding;

    @include breakpoint($breakpoint-desk) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
