/**
 *
 * Footer
 *
 */
/**
 *
 * Footer
 *
 */

.footer {
  align-self: flex-end;
  background-color: $black;
  flex: 1 0 auto;
  flex-direction: row;
  width: 100%;

  a {
    @include strip-link-styles($theme-color-tertiery);

    &:hover {
      text-decoration: underline;
    }
  }

  &--content {
    background: url("../images/aak-logo.svg") no-repeat right center;
    background-size: auto 75%;
    box-sizing: border-box;
    color: $white;
    display: flex;
    flex-flow: row wrap;
    margin-left: $spacing-lap;
    margin-right: $spacing-lap;
    padding-bottom: $spacing-lap;
    padding-top: $spacing-lap;

    @include breakpoint($breakpoint-tablet) {
      padding: $spacing-tablet;
    }

    @include breakpoint($breakpoint-desk) {
      padding: $spacing-desk;
    }

    @include breakpoint($breakpoint-bigscreen) {
      margin-left: auto;
      margin-right: auto;
      max-width: $layout-max-width-desk;
    }

    ul,
    ol {
      list-style: none;
      padding: 0;
    }
  }

  &--left,
  &--right {
    flex: 0 0 100%;
  }

  &--left {
    @include breakpoint($breakpoint-tablet) {
      flex: 1 1 auto;
    }
  }

  &--right {
    align-items: center;
    display: flex;
    justify-content: space-around;

    @include breakpoint($breakpoint-tablet) {
      flex: 0 0 25%;
      justify-content: flex-end;
      padding-bottom: 0;
      text-align: right;
    }
  }

  &--icons {
    width: 1.8em;

    @include breakpoint($breakpoint-tablet) {
      margin-left: 1.2em;;
    }
  }
}