/* Colors
   ================================================================================================================== */

/* stylelint-disable */
$black:            #000;
$white:            #fff;

$gray-lightest:    lighten($black, 95%);
$gray-lighter:     lighten($black, 90%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 12%);

$theme-color:             #157bb3;
$theme-color-secondary:   #61b7e8;
$theme-color-tertiery:    #fbb900;

$link-color:              $theme-color;
$link-color-hover:        darken($link-color, 25%);

$message-color:                  #f1f1f1;
$message-info-color:             #dff2bf;
$message-warning-color:          #feefb3;
$error-color:                    #ffbaba;
/* stylelint-enable */


/* Typography
   ================================================================================================================== */

$font-family:      "Open Sans", Helvetica, Arial, sans-serif;
$font:             1em/1.75 $font-family;


/* Layout
   ================================================================================================================== */

$layout-max-width-lap:        100%;
$layout-max-width-tablet:     100%;
$layout-max-width-desk:       1200px;


/* Spacing
   ================================================================================================================== */

$spacing-lap:             20px;
$spacing-lap-large:       30px;
$spacing-tablet:          20px;
$spacing-tablet-large:    40px;
$spacing-desk:            30px;
$spacing-desk-large:      60px;
$spacing-bigscreen:       30px;
$spacing-bigscreen-large: 75px;
