/**
 *
 * ITK box list
 *
 * A component for content boxes
 *
 */


/* Styles
   ========================================================================== */

// Gallery display ( Frontpage promoted)
.itk-boxlist-presentation {
  flex: 1 0 auto;
  position: relative;

  &:before {
    border-top: 1px dashed $gray-lighter;
    content: "";
    display: block;
    margin-left: $spacing-lap;
    margin-right: $spacing-lap;
    margin-top: $spacing-lap-large;
    max-width: $layout-max-width-desk;
    padding-top: $spacing-lap-large;
    position: relative;
    top: -5px; // Compensate for line height

    @include breakpoint($breakpoint-tablet) {
      margin-left: $spacing-tablet;
      margin-right: $spacing-tablet;
      margin-top: $spacing-tablet-large;
      padding-top: $spacing-tablet-large;
    }

    @include breakpoint($breakpoint-desk) {
      margin-left: $spacing-desk;
      margin-right: $spacing-desk;
      margin-top: $spacing-desk-large;
      padding-top: $spacing-desk-large;
    }

    @include breakpoint($breakpoint-bigscreen) {
      margin-left: auto;
      margin-right: auto;
      margin-top: $spacing-bigscreen-large;
      padding-top: $spacing-bigscreen-large;
    }
  }

  &--inner {
    @include word-wrap;
  }

  &--inner-wrapper {
    margin-bottom: $spacing-lap-large;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: $spacing-tablet-large;
    }

    @include breakpoint($breakpoint-desk) {
      margin-bottom: $spacing-desk-large;
      margin-left: auto;
      margin-right: auto;
      max-width: $layout-max-width-desk;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: $spacing-bigscreen-large;
    }
  }

  &--header-wrapper {
    display: flex;
    min-height: 235px;
    position: relative;

    @include breakpoint($breakpoint-tablet) {
      min-height: 320px;
    }

    @include breakpoint($breakpoint-desk) {
      min-height: 420px;
    }

    @include breakpoint($breakpoint-bigscreen) {
      min-height: 520px;
    }
  }

  &--header-inner-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;

    @include breakpoint($breakpoint-desk) {
      margin-left: auto;
      margin-right: auto;
      max-width: $layout-max-width-desk;
    }
  }

  &--image-wrapper {
    background-size: cover;
    bottom: 0;
    color: $white;
    position: absolute;
    top: 0;
    width: 100%;

    &:before {
      @extend %image-overlay;

      background-color: rgba(0, 0, 0, .5);
    }
  }

  &--header {
    @include layout-spacing(true, true, true, false);

    align-self: flex-start;
    color: $white;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
    z-index: z($z-index-elements, header);

    a {
      @include strip-link-styles($white);
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 3.5em;
    }
  }

  &--lead,
  &--content {
    @include layout-spacing;
  }

  &--lead {
    font-weight: 600;
  }

  &--content {
    h2,
    h3,
    h4 {
      font-weight: 600;
      margin-top: 2em;
    }

    h2 {
      font-size: 1.25em;
    }

    h3 {
      font-size: 1.1em;
    }
  }
}
