/**
 *
 * ITK box list gallery
 *
 * A component for content boxes
 *
 */


/* Styles
   ========================================================================== */

.itk-boxlist-gallery {
  @include layout-spacing(false, true, true, false);

  display: flex;
  flex-flow: row wrap;

  @include breakpoint($breakpoint-tablet) {
    margin-right: 0;
  }

  @include breakpoint($breakpoint-bigscreen) {
    margin-right: -$spacing-bigscreen;
  }

  &--item {
    @include layout-spacing(false, false, true, true);

    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-flow: column nowrap; /* Build as column to position elements vertically */
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    position: relative;

    @include breakpoint($breakpoint-tablet) {
      flex-basis: calc(50% - #{$spacing-tablet});
    }

    @include breakpoint($breakpoint-desk) {
      flex-basis: calc(33.333% - #{$spacing-desk});
    }

    @include breakpoint($breakpoint-bigscreen) {
      flex-basis: calc(33.333% - #{$spacing-bigscreen});
    }
  }

  &--item-inner {
    border-bottom: 1px dashed $gray-light;
    border-left: 1px dashed $gray-light;
    border-right: 1px dashed $gray-light;
    order: 2;
  }

  &--header {
    @include layout-spacing(false, true , true, true);

    flex: 0 0 auto;
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: -15px; /* Override base styling and compensate for line height */
    text-transform: uppercase;

    a {
      @include strip-link-styles($gray-darkest);
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: 1.25em;
    }
  }

  &--content {
    @include layout-spacing(false, true , true, true);

    height: 4.5em;
    line-height: 1.5em;
    margin-bottom: -10px; /* Compensate for line height */
    overflow: hidden;
    position: relative;

    &:before {
      /* Using transparentize($white, 1) instead of transparent because of possible bug in Safari */
      background-image: linear-gradient(to bottom, transparentize($white, 1) 50%, $white 100%);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: z($z-index-elements, fade);
    }
  }

  &--link {
    @include layout-spacing;

    background: url("../images/link.svg") no-repeat;
    background-size: 1.4em;
    display: block;
    line-height: 1.4em;
    padding-left: 1.75em;
  }
}
