/**
 *
 * ITK box list
 *
 * A component for content boxes
 *
 */


/* Styles
   ========================================================================== */

// Gallery display ( Frontpage promoted)
.itk-boxlist-gallery {
  @include layout-spacing(false, true, true, false);

  display: flex;
  flex-flow: row wrap;

  @include breakpoint($breakpoint-tablet) {
    margin-right: 0;
  }

  @include breakpoint($breakpoint-bigscreen) {
    margin-right: -$spacing-bigscreen;
  }

  &--item {
    @include layout-spacing(false, false, true, true);

    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-flow: column nowrap; /* Build as column to position elements vertically */
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    position: relative;

    @include breakpoint($breakpoint-tablet) {
      flex-basis: calc(50% - #{$spacing-tablet});
    }

    @include breakpoint($breakpoint-desk) {
      flex-basis: calc(33.333% - #{$spacing-desk});
    }

    @include breakpoint($breakpoint-bigscreen) {
      flex-basis: calc(33.333% - #{$spacing-bigscreen});
    }
  }

  &--item-inner {
    border-bottom: 1px dashed $gray-light;
    border-left: 1px dashed $gray-light;
    border-right: 1px dashed $gray-light;
    order: 2;
  }

  &--header {
    @include layout-spacing(false, true , true, true);

    flex: 0 0 auto;
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: 0; /* Override base styling */
    text-transform: uppercase;

    a {
      @include strip-link-styles($gray-darkest);
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: 1.25em;
    }
  }

  // Class name created from image style.
  .related-page-image {
    align-self: center;
    display: block;
    flex: 0 0 auto;
    order: 1;
    width: 100%;
  }

  &--content {
    @include layout-spacing(false, true , true, true);

    height: 4.5em;
    line-height: 1.5em;
    overflow: hidden;
    position: relative;

    &:before {
      background-image: linear-gradient(to bottom, transparent 50%, $white 100%);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: z($z-index-elements, fade);
    }
  }

  // Absolutely positioned from bottom.
  &--link {
    @include layout-spacing;

    background: url("../images/link.png") no-repeat;
    background-size: 1.4em;
    display: block;
    line-height: 1.4em;
    padding-left: 1.75em;
  }
}



// Boxlist display (Frontpage news/Content node references)
.itk-boxlist {
  display: flex;
  flex-flow: row wrap;
  margin: $layout-padding;  // We have the boxlist set the side margins

  &--item {
    border-top: 1px solid $gray-lighter;
    display: flex;
    flex: 0 0 100%;
    flex-flow: row nowrap;
    margin-bottom: $layout-padding;
    padding-top: $layout-padding;

    @include breakpoint($breakpoint-desk) {
      border: 1px solid $gray-lighter;
      padding-top: 0;
    }
  }

  // Class name created from image style.
  .related-page-image,
  .news-teaser-image {
    flex: 0 0 72px;
    height: 72px; /* Static height to ensure a quadratic container */

    @include breakpoint($breakpoint-tablet) {
      flex: 0 0 150px;
      height: 150px;
    }

    @include breakpoint($breakpoint-desk) {
      flex: 0 0 224px;
      height: 224px;
      padding-top: 0;
    }
  }

  &--content {
    box-sizing: border-box;
    flex: 1 1 auto;
  }

  &--meta {
    color: $gray-light;
    margin-bottom: .75em;
  }

  &--link {
    display: inline-block; /* Best way to break inherited flex. */
    margin-top: .75em;
  }

  .button {
    width: 200px; /* Same as other butttons/links on frontpage */
  }
}
