/**
 *
 * Fonts
 *
 * http://www.456bereastreet.com/archive/201012/font-face_tip_define_font-weight_and_font-style_to_keep_your_css_simple/
 * http://stackoverflow.com/questions/28279989/multiple-font-weights-one-font-face-query
 */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("fonts/OpenSans/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("fonts/OpenSans/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}
