/**
 *
 * Global mixins used across multiple modules.
 *
 */


/* Positioning of layout elements
   ================================================================================================================== */

@mixin layout-spacing($bottom: false, $left: false, $right: false, $top: false) {
  @if $bottom or $left or $right or $top {
    @if $bottom {
      margin-bottom: $spacing-lap;

      @include breakpoint($breakpoint-tablet) {
        margin-bottom: $spacing-tablet;
      }

      @include breakpoint($breakpoint-desk) {
        margin-bottom: $spacing-desk;
      }
    }

    @if $left {
      margin-left: $spacing-lap;

      @include breakpoint($breakpoint-tablet) {
        margin-left: $spacing-tablet;
      }

      @include breakpoint($breakpoint-desk) {
        margin-left: $spacing-desk;
      }
    }

    @if $right {
      margin-right: $spacing-lap;

      @include breakpoint($breakpoint-tablet) {
        margin-right: $spacing-tablet;
      }

      @include breakpoint($breakpoint-desk) {
        margin-right: $spacing-desk;
      }
    }

    @if $top {
      margin-top: $spacing-lap;

      @include breakpoint($breakpoint-tablet) {
        margin-top: $spacing-tablet;
      }

      @include breakpoint($breakpoint-desk) {
        margin-top: $spacing-desk;
      }

      @include breakpoint($breakpoint-bigscreen) {
        margin-top: $spacing-bigscreen;
      }
    }
  } @else {
    margin: $spacing-lap;

    @include breakpoint($breakpoint-tablet) {
      margin: $spacing-tablet;
    }

    @include breakpoint($breakpoint-desk) {
      margin: $spacing-desk;
    }
  }
}


/* Strip all link styles default color of links to inherit
================================================================================================================== */

@mixin strip-link-styles($color: inherit, $decoration: none) {
  &:link {
    color: $color;
    text-decoration: $decoration;
  }

  &:visited {
    color: $color;
    text-decoration: $decoration;
  }

  &:hover {
    color: $color;
    text-decoration: $decoration;
  }

  &:focus {
    color: $color;
    text-decoration: $decoration;
  }
}


/* Breakpoint
================================================================================================================== */

@mixin breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}


/* Word wrap and ellipsis
 *
 * https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
================================================================================================================== */

@mixin word-wrap() {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}
