/**
 *
 * Buttons.
 *
 */

.button,
.button:link,
.button:visited {
  @include layout-spacing(false, true, true, false);

  background-color: $theme-color;
  border: 1px solid $theme-color;
  border-radius: 1em;
  box-sizing: border-box;
  color: $white;
  display: inline-block;
  font-weight: 300;
  min-width: 8em;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  transition: background-color .5s, border .5s, color .5s;

  @include breakpoint($breakpoint-desk) {
    min-width: 12em;
    padding: 1em 2em;
  }

  &:hover {
    background-color: transparent;
    color: $link-color;
  }

  &.is-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;

    @include breakpoint($breakpoint-desk) {
      max-width: 35%;
    }
  }

  &.is-inverted {
    background-color: transparentize($white, .85);
    border: 1px solid $white;
    color: $white;

    &:hover {
      background-color: $white;
      color: $gray-darkest;
    }
  }
}
