/**
 *
 * Content.
 *
 */


.content {
  flex: 1 0 auto;
  min-height: 80%;

  &--inner {
    @include layout-spacing(true, false, false, false);
    @include word-wrap;

    position: relative;

    @include breakpoint($breakpoint-desk) {
      margin-left: auto;
      margin-right: auto;
      max-width: $layout-max-width-desk;
    }
  }

  &--header-wrapper {
    display: flex;
    min-height: 265px;
    position: relative;

    @include breakpoint($breakpoint-tablet) {
      min-height: 320px;
    }

    @include breakpoint($breakpoint-desk) {
      min-height: 420px;
    }

    @include breakpoint($breakpoint-bigscreen) {
      min-height: 520px;
    }
  }

  &--header-inner-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;

    @include breakpoint($breakpoint-desk) {
      margin-left: auto;
      margin-right: auto;
      max-width: $layout-max-width-desk;
    }
  }

  &--image-wrapper {
    background-size: cover;
    bottom: 0;
    color: $white;
    position: absolute;
    top: 0;
    width: 100%;

    &:before {
      @extend %image-overlay;

      background-color: rgba(0, 0, 0, .5);
    }
  }

  &--header,
  &--sub-header {
    @include layout-spacing(true, true, true, false);

    align-self: flex-start;
    color: $white;
    z-index: z($z-index-elements, header);
  }

  &--header {
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include breakpoint($breakpoint-desk) {
      font-size: 3.5em;
    }
  }

  &--sub-header {
    margin-bottom: 40px;
  }

  &--lead {
    @include layout-spacing;

    font-weight: 600;
  }

  &--text {
    @include layout-spacing;

    h2,
    h3,
    h4 {
      font-weight: 600;
      margin-top: 2em;
    }

    h2 {
      font-size: 1.25em;
    }

    h3 {
      font-size: 1.1em;
    }
  }

  p + p {
    margin-top: 2em;
  }

  // Needs nesting inside content for overriding p+p.
  &--inline-link {
    margin-top: 1em;
  }

  &--meta {
    font-weight: 300;
    margin-bottom: 1em;
    margin-top: -.5em;
    padding-bottom: 1em;
  }

  &--text + fieldset {
    margin-top: 3em;
  }
}
